<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>Megabites</h1>
	<div class="input-group col-md-12">
          <input type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
	  <%= render 'location_list' %>
	</div>
      </div>
    </div>  
    <div id="main">
      <div class = "col-xs-6 col-sm-9">
	<%= render 'negotiations_list' %>
      </div>  
    </div>
  </div>
</div>
