
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
		<%= render 'location_list' %>
	</div>
</div

</br>

<div id="main">
<%= render 'negotiations_list' %>
<div>
YES
