<body id="login-body">
	<div>
		<paper-material id="login-box" elevation="5">
			<div id="login-text"> Login </div>

      <style is="custom-style">
        paper-input.login-forms {
          --paper-input-container-color: white;
          --paper-input-container-focus-color: white;
          --paper-input-container-invalid-color: white;
          --paper-input-container-input-color: white;
        }

        #login-button {
          --paper-button: {
            @apply(--layout-vertical);
            @apply(--layout-center-center);
          };
        }
      </style>

			<paper-input class="login-forms" id="login-username" label="username"></paper-input>
      <paper-input class="login-forms" id="login-password" type="password" label="password"></paper-input>
      <paper-button id="login-button">
        Login
      </paper-button>
		</paper-material>
	</div>
</body>
