</br>
</br>
</br>

<div class="order-details">
	<%= @negotiation.food_items %>
</div>

<div class="group-chat">
	Group Chat </br>
	<div class="messages">
		<%= render partial: 'message_row' %>
	</div>

	<div class="message-textbox">
		<%= render partial: 'message_form' %>
	</div>

	
</div>