/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.signup {
	text-align: left;
	padding-left: 40%;
	padding-right: 40%;
}

.signin {
	padding-top: 30%;
}

.textbox {
	margin-bottom: 10px;
}

.dropdown {
	background-color: white;
	font-color: black;
}

.chatpage {
	padding-left: 5%;
}

#main-toolbar paper-toolbar {
        background-color: #194ec4;
}

#main-toolbar-text {
        font-family: 'Montserrat';
        font-size: 2.5rem;
        padding-right: 0%;
}

#main-toolbar-icon {
        width: 30px;
        height: 30px;
}

#main-toolbar-logout-button iron-icon {
        height: 30px;
        width: 30px;
}

#login-body {
        background: url(asset-path("login-background.png"));
        background-size: cover;
}

#login-box {
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 40%;
        height: 40%;
        background-color: #00174b;
}

#login-text {
        color: white;
        text-align: center;
        margin-top: 4%;
        font-family: 'Montserrat';
        font-size: 3rem;
}

paper-input.login-forms {
        --paper-input-container-color: red;
        --paper-input-container-focus-color: blue;
        --paper-input-container-invalid-color: green;
        --paper-input-container-input-color: black;
}

.login-forms {
        margin: auto;
        width: 80%;
        height: 20%;
        color: white;
}

.login-forms .floated-label-placeholder {
        height: 0px;
}

#login-username {
        margin-top: 7%;
}

#login-password {
        margin-top: 1%;
}

#login-button {
        background-color: white;
        color: #00174b;
        width: 20%;
        height: 10%;
        margin-top: 2%;
        margin-left: 10%;
        font-family: 'Montserrat';
        font-size: 1.8rem;
}

.flash {
      height: 0px;
      width: 0px; 
      margin: 0px 0px 0px 0px; 
}
